<%= form_for(@attraction) do |f| %>
  <% if @attraction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attraction.errors.count, "error") %> prohibited this attraction from being saved:</h2>

      <ul>
      <% @attraction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "Name" %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label "Height (in inches)" %><br>
    <%= f.text_field :height %>
  </div>
  
  <div class="field">
    <%= f.label "How happy are you? (1-5 scale)" %><br>
    <%= f.number_field :happiness %>
  </div>
  
  <div class="field">
    <%= f.label "How nauseous are you? (1-5 scale)" %><br>
    <%= f.number_field :nausea %>
  </div>
  
  
  <div class="field">
    <%= f.label "How many dollars are in your pocket?" %><br>
    <%= f.number_field :tickets %>
  </div>
  
  <div class="field">
    <%= f.label "Check box if you are a theme park owner" %>
    <%= f.check_box :admin %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

